[Unit]
Description={{ systemd_desc }}
After=multi-user.target
StartLimitIntervalSec=5
StartLimitBurst=3

[Service]
User={{ service_owner }}
Group={{ service_owner }}
ExecStart=/usr/bin/java -Xmx512m -jar {{ service_dir }}/server.jar
Type=ExecStart
Restart=Always
RestartSec=5s
WorkingDirectory={{ service_dir }}
StandardOutput=null
StandardError=journal

[Install]
WantedBy=multi-user.target
